In [130]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import cross_val_score, KFold
from sklearn.metrics import plot_confusion_matrix

In [150]:
#columns = ['hora','onibusImobilizado','caminhaQuebrado','ExcessoVeiculo','VitimaAcidente','CorrendoMuito','VeiculoBombeiros','Frente','CargaPerigosa','FaltaEletricidade','Fogo','PontoInundacao','Manifestacao','DefeitoTrolebus','ArvoreEstrada','','']
dataset = pd.read_csv('transito_sp.csv', sep=";")

In [151]:
dataset

,Hour (Coded),Immobilized bus,Broken Truck,Vehicle excess,Accident victim,Running over,Fire vehicles,Occurrence involving freight,Incident involving dangerous freight,Lack of electricity,Fire,Point of flooding,Manifestations,Defect in the network of trolleybuses,Tree on the road,Semaphore off,Intermittent Semaphore,Slowness in traffic (%)
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"4,1"
1,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"6,6"
2,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"8,7"
3,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"9,2"
4,5,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"11,1"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,23,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,"17,8"
131,24,0,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,"18,1"
132,25,1,0,0,2,0,0,0,0,0,0,0,0,0,0,0,0,"17,7"
133,26,0,4,0,0,0,0,0,0,0,0,0,1,0,0,1,0,"17,4"
134,27,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"12,1"

In [133]:
#dataset['Slowness in traffic (%)']=dataset['Slowness in traffic (%)'].str.replace(',','.')

In [134]:
#dataset['Slowness in traffic (%)'].astype(float)

In [152]:
X = dataset.iloc[:,:17]
y = dataset['Slowness in traffic (%)'].values

In [136]:
dataset.dtypes

Hour (Coded)                              int64
Immobilized bus                           int64
Broken Truck                              int64
Vehicle excess                            int64
Accident victim                           int64
Running over                              int64
Fire vehicles                             int64
Occurrence involving freight              int64
Incident involving dangerous freight      int64
Lack of electricity                       int64
Fire                                      int64
Point of flooding                         int64
Manifestations                            int64
Defect in the network of trolleybuses     int64
Tree on the road                          int64
Semaphore off                             int64
Intermittent Semaphore                    int64
Slowness in traffic (%)                  object
dtype: object

In [137]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30)

In [138]:
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

In [139]:
y_pred = classifier.predict (X_test)

In [147]:
y_pred

array(['10,3', '9,9', '10,3', '9,9', '9,9', '7,9', '9,5', '7,4', '4,9',
       '8,7', '7,4', '10,9', '14,6', '8,7', '10,1', '10,1', '7,4', '12,1',
       '8,7', '4,9', '10,3', '12,1', '15,6', '8', '12,3', '8,7', '7,9',
       '6,4', '9,9', '7,4', '11', '8,5', '9,5', '9,5', '7,9', '8', '8,5',
       '8', '12,1', '10,1', '10,9'], dtype='<U4')

In [141]:
cm = confusion_matrix(y_test, y_pred)

In [149]:
df = pd.DataFrame ({'Valores reais': y_test, 'Valores previstos': y_pred})
df

   Valores reais Valores previstos
0           17,4              10,3
1            6,7               9,9
2            6,2              10,3
3           11,8               9,9
4            5,1               9,9
5            3,8               7,9
6           19,3               9,5
7           13,9               7,4
8              7               4,9
9           11,9               8,7
10           9,3               7,4
11           6,9              10,9
12          12,1              14,6
13           5,3               8,7
14          17,4              10,1
15          11,4              10,1
16           9,4               7,4
17           6,5              12,1
18           5,7               8,7
19          11,1               4,9
20           3,4              10,3
21          22,6              12,1
22          17,7              15,6
23          12,5                 8
24           7,7              12,3
25             8               8,7
26           5,5               7,9
27           7,7               6,4
28          19,9               9,9
29          10,9               7,4
30           8,9                11
31           7,4               8,5
32            11               9,5
33           8,3               9,5
34           8,7               7,9
35           5,3                 8
36           4,8               8,5
37           6,8                 8
38           8,1              12,1
39             4              10,1
40           8,2              10,9

In [143]:
print ("Accuracy : ", accuracy_score(y_test, y_pred))

Accuracy :  0.0

In [144]:
#plot_confusion_matrix(classifier, y_test, y_pred)